.wvu-social-media {
  background: shade($black, 20%);
  color: white;
}

.wvu-social-media__container {
  @include u-wvu-container-padding();
}

.wvu-social-media {
  h2 {
    color: white;
    @include wvu-lede();
  }
}

.wvu-social-media__header {
  text-align: center;
  h2 {
    @include wvu-secondary-pattern-heading();
  }
  h3 {
    @include wvu-secondary-pattern-heading();
    font-size: 2.4em;
  }
  p {
    margin: 0 auto;
  }
}

.wvu-social-media__postscript {
  @include wvu-postscript();
}

.wvu-social-media__icons {
  margin: 2em auto 0 auto;
  text-align: center;
}

h2 + .wvu-social-media__icons {
  margin-top: 3em;
}

.wvu-social-media__icon {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  color: white;
  display: inline-block;
  font-size: .8em;
  margin-right: 10px;
  min-width: 32px;
  padding-top: 38px;
  text-decoration: none;
  @include mq($bp-large) {
    background-size: 64px 64px;
    font-size: 1em;
    min-width: 64px;
    padding-top: 70px;
  }
  &:visited {
    color: white;
    text-decoration: none;
  }
}

.wvu-social-media__icon--facebook {
  background-image: url($facebook-icon-url);
}

.wvu-social-media__icon--flickr {
  background-image: url($flickr-icon-url);
}

.wvu-social-media__icon--github {
  background-image: url($github-icon-url);
}

.wvu-social-media__icon--instagram {
  background-image: url($instagram-icon-url);
}

.wvu-social-media__icon--linkedin {
  background-image: url($linkedin-icon-url);
}

.wvu-social-media__icon--rss {
  background-image: url($rss-icon-url);
}

.wvu-social-media__icon--twitter {
  background-image: url($twitter-icon-url);
}

.wvu-social-media__icon--youtube {
  background-image: url($youtube-icon-url);
}

// Layout
// ==============================

.wvu-social-media__container {
  @include outer-container();
}
