<div class="wvu-twitter-widget <r:page:data name="bgcolor_twitter" /> background">
  <div class="wvu-twitter-widget__container">

    <r:page:if_has_content_for region="wvu-twitter-widget__header" always_show_in_edit_mode="true">
      <div class="wvu-twitter-widget__header">
        <r:editable_region name="wvu-twitter-widget__header">
          <h2>Follow Us on Twitter</h2>
          <p>Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <div id="js-twitter-feed"></div>

    <div class="wvu-twitter-widget__postscript">
      <a href="https://twitter.com/<r:site:data name="twitter_handle" />">
        <img src="https://static.wvu.edu/global/images/icons/social/circle-twitter--2.0.0.svg" alt="Twitter icon" />
        @<r:site:data name="twitter_handle" />
      </a>
    </div>

  </div>
</div>

<r:partial name="patterns/instructions/wvu-twitter-widget" theme="Code" />

<r:content_for name="page_js">
  <r:include_javascript name="vendor/twitterFetcher" />

  <script>
    // Twitter Post Fetcher:
    // https://github.com/jasonmayes/Twitter-Post-Fetcher
    // Custom tweet template incorporates aria-labelledby into tweet permalink.
    function populateTpl (tweets) {
      var element = document.getElementById('js-twitter-feed');
      var html = '<ul>';
      for (var i = 0; i < tweets.length; i++) {
        var tweetObject = tweets[i];
        html += '<li>' +
          '<p id="aria__tweet--' + [i] + '" class="tweet-content">' + tweetObject.tweet + '</p>' +
          '<p class="tweet-link"><a aria-labelledby="aria__tweet--' + [i] + '" href="' + tweetObject.permalinkURL + '">Posted: ' + tweetObject.time + '</a></p>' +
        '</li>';
      }
      html += '</ul>';
      element.innerHTML = html;
    }

    var configProfile = {
      'profile': {'screenName': '<r:site:data name="twitter_handle" />'},
      'maxTweets': 5,
      'enableLinks': true,
      'showUser': false,
      'showTime': true,
      'showImages': false, // Twitter authors suck at alt text, no images allowed.
      'showInteraction': false,
      'lang': 'en-US',
      'dataOnly': true, // Get data as an array of objects
      'customCallback': populateTpl // Populate the data via custom callback function
    };
    twitterFetcher.fetch(configProfile);
  </script>
</r:content_for>
