<r:comment>
<!-- NOTE: This polyptych can be reused over and over. -->
<!-- You can use this partial multiple times on the same page by setting different... -->
<!-- ...`regionName__base` variables above each partial.  -->
<!-- You can also change the `polyptychItems` to be more than 4 if you like. -->
<!-- Always increase by 4. -->
<!-- Set the scope by defining the `$scope` variable to either `page` or `site`. -->
</r:comment>

<r:set_var name="polyptychPhoto__base" value="{$polyptychPhoto__base}" default="wvu-polyptych__photo" />
<r:set_var name="polyptychCopy__base" value="{$polyptychCopy__base}" default="wvu-polyptych__copy" />
<r:set_var name="polyptychBackgroundColor__base" value="{$polyptychBackgroundColor__base}" default="wvu-background-color-class--polyptych" />
<r:set_var name="polyptychItems" value="{$polyptych_items}" default="2" />
<r:set_var name="polyptych" value="{$polyptychScope}" default="page" />

<div class="wvu-polyptych wvu-polyptych--<r:site:id /> <r:page:data name="bgcolor_polyptych" /> background wvu-polyptych--diptych">
  <div class="wvu-polyptych__container">

    <r:page:if_has_content_for region="wvu-polyptych__header" always_show_in_edit_mode="true">
      <div class="wvu-polyptych__header">
        <r:editable_region name="wvu-polyptych__header" scope="{$polyptychScope}">
          <h2>Polyptych Headline</h2>
          <p>Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <div class="wvu-polyptych__panels">

      <r:loop:each times="{$polyptychItems}">

        <r:set_var name="polyptychCopy"><r:var name="polyptychCopy__base" />--<r:item /></r:set_var>

        <r:page:if_has_content_for region="{$polyptychCopy}" always_show_in_edit_mode="true">
          <div class="wvu-polyptych__panel">

            <r:set_var name="polyptychPhoto"><r:var name="polyptychPhoto__base" />--<r:item /></r:set_var>

            <r:page:if_has_content_for region="{$polyptychPhoto}" always_show_in_edit_mode="true">
              <div class="wvu-polyptych__photo">
                <r:editable_region name="{$polyptychPhoto}" scope="{$polyptychScope}">
                  <img src="http://placehold.it/960x640">
                </r:editable_region>
              </div>
            </r:page:if_has_content_for>

            <div class="wvu-polyptych__copy <r:page:unless_has_content_for region="{$polyptychPhoto}">wvu-polyptych__copy--wide</r:page:unless_has_content_for>">

              <r:editable_region name="{$polyptychCopy}" scope="{$polyptychScope}">
                <h3>Headline Goes Here</h3>
                <p>Short description goes here. Do not put links here. Only one short paragraph.</p>
              </r:editable_region>

            </div>

          </div> <!-- end wvu-polyptych__panel -->
        </r:page:if_has_content_for>

      </r:loop:each>

    </div> <!-- end wvu-polyptych__panels -->

    <r:page:if_has_content_for region="wvu-polyptych__postscript" always_show_in_edit_mode="true">
      <div class="wvu-polyptych__postscript">
        <r:editable_region name="wvu-polyptych__postscript" scope="{$polyptychScope}">
          Put any additional info or links here.
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

  </div> <!-- end wvu-polyptych__container -->
</div> <!-- end wvu-polyptych -->

<r:partial name="patterns/instructions/wvu-polyptych" theme="Code" />
