<div class="wvu-social-media wvu-social-media--<r:site:id /> <r:page:data name="bgcolor_social_media" /> background">
  <div class="wvu-social-media__container">

    <r:page:if_has_content_for region="wvu-social-media__header" always_show_in_edit_mode="true">
      <div class="wvu-social-media__header">
        <r:editable_region name="wvu-social-media__header" scope="site">
          <h2>Follow Us</h2>
          <p>Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <div class="wvu-social-media__icons">

      <r:if expr="{{ NOT(BLANK(facebook_url)) }}">
        <a class="wvu-social-media__icon wvu-social-media__icon--facebook" href="<r:site:data name="facebook_url" />">Facebook</a>
      </r:if>

      <r:if expr="{{ NOT(BLANK(twitter_url)) }}">
        <a class="wvu-social-media__icon wvu-social-media__icon--twitter" href="<r:site:data name="twitter_url" />">Twitter</a>
      </r:if>

      <r:if expr="{{ NOT(BLANK(instagram_url)) }}">
        <a class="wvu-social-media__icon wvu-social-media__icon--instagram" href="<r:site:data name="instagram_url" />">Instagram</a>
      </r:if>

      <r:if expr="{{ NOT(BLANK(linkedin_url)) }}">
        <a class="wvu-social-media__icon wvu-social-media__icon--linkedin" href="<r:site:data name="linkedin_url" />">LinkedIn</a>
      </r:if>

      <r:if expr="{{ NOT(BLANK(syndication_url)) }}">
        <a class="wvu-social-media__icon wvu-social-media__icon--rss" href="<r:site:data name="syndication_url" />">RSS</a>
      </r:if>

      <r:if expr="{{ NOT(BLANK(youtube_url)) }}">
        <a class="wvu-social-media__icon wvu-social-media__icon--youtube" href="<r:site:data name="youtube_url" />">YouTube</a>
      </r:if>

      <r:if expr="{{ NOT(BLANK(github_url)) }}">
        <a class="wvu-social-media__icon wvu-social-media__icon--github" href="<r:site:data name="github_url" />">GitHub</a>
      </r:if>

    </div>

  </div>
</div>

<r:partial name="patterns/instructions/wvu-social-media" theme="Code" />
